@page
@model Presentation.Models.Payment.PaymentInputModel
@{
}


@using (Html.BeginForm("StartPayment", "Payment", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Amount)
        <input class="form-control" data-val="true" data-val-required="The Amount field is required." id="Amount" name="Amount" type="text" value="10000">
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Pay Now</button>
}
