@model Presentation.Models.Payment.RedirectToGatewayModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
</head>
<body onload="document.forms[0].submit()">
    <form action="@Model.RedirctToGatewayUrl" method="post">
        <input type="hidden" name="tokenIdentity" value="@Model.Token" />
    </form>
</body>
</html>
